<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formulario con Flask</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    </head>
    <body>
        <h1 style="text-align: center">Formulario</h1>
        <form method="POST" action="{{url_for('procesarForm')}}">
            <label>Codigo:</label>
            <input id="codigo" name="codigo" type="number" placeholder="Codigo" pattern="\d+" required>
            <br>
            <label>Nombre:</label>
            <input id="nombre" name="nombre" type="text" placeholder="Nombre" required>
            <br>
            <label>Carrera:</label>
            <input id="carrera" name="carrera" type="text" placeholder="Carrera" pattern="^[a-zA-Z ]*$" required>
            <br>
            <button>Guardar</button>
          
            <h1 style="text-align: center">Tabla de Datos</h1>
            <table class="mi-tabla">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Carrera</th>
                </tr>
                {% for dato in datos %}
                <tr>
                    <td>{{ dato["codigo"] }}</td>
                    <td>{{ dato["nombre"] }}</td>
                    <td>{{ dato["carrera"] }}</td>
                </tr>
                {% endfor %}
            </table>
            
            <p id="message">Datos Guardados</p>
        </form>
    </body>
</html>
